body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    background: #D4E6FE;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 8%;
    background: #fff;
    color: #0008F6;
}



.title {
    padding: 20px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    font-family: cursive;
    color: #0008F6;
    padding: 0 0 20px 0;

}

.form label {
    display: none;
}

.form input {
    width: 38.5%;
    padding: 10px 10px;
    border: none;
    background-color: #E7E9FE;
    border-radius: 10px;
    line-height: 20px;
    font-family: cursive;
}

::placeholder {
    color: #0008F6;
    font-size: 14px;
}


.form .address {
    width: 80%;
    background-color: #C7CDFD;
}

.form textarea {
    width: 80%;
    min-height: 60px;
    height: 100px;
    max-height: 240px;
    resize: none;
    border: none;
    border-radius: 20px;
    background-color: #A5B1FD;
    padding: 10px;
}

.btn {
    padding: 20px 50px;
    border-radius: 30px;
    font-size: 18px;
    line-height: 12px;
    background-color: #0008F6;
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;

}

.end-text {
    padding: 20px 0;
    text-align: left;
    color: #00BD86;
}